.gray{
    background-color: lightgray;
}
.green{
    background-color: green;
}
.wrapper{
    position: relative;
}
#board{
    width: 800px;
    height: 800px;
    margin: auto;    
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    align-content: space-between;
    justify-content: space-between;
}
.square{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.chess{
    width: 100%;
    height: 100%;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ================== Cho promotion pawn =================== */
#promotion{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 450px;
    background-color: yellow;
}
.itemPromotion{
    height: 100px;
    margin: 10px;
    background-color: rgba(200, 100, 0, 0.3);
    font-size: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.itemPromotion:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    user-select: none;
}

.hiden{
    display: none !important;
}